# Exercises about data types

In [ ]:
# 1. Create following sequences: 
# 4, 8, 12, 16, 20, 24, 28

sequence = list(range(4, 29, 4))
print(sequence)

In [ ]:
# 1. Create following sequences: 
# 10, 8, 6, 4, 2, 0

sequence = list(range(10, -1, -2))
print(sequence)

In [ ]:
# repeat "chocolate" 10 times in a vector

words = ["chocolate"] * 10
print(words)

In [ ]:
# 2. Starting with the following code, divide a by b and save it as variable c:

a = "5555555"
b = 3

c = int(a) / b
print(c)

In [ ]:
# 3. Starting with following code, create the string/ character vector "group3trial1.csv"

group = 3
trial = 1

filename = "group" + str(group) + "trial" + str(trial) + ".csv"
print(filename)

# Exercises about data frames

## How to load data that is not stored in the same directory as your script?

In [ ]:
### get your current working directory
import os 
os.getcwd( )

in [Github](https://github.com/TheDiren/RAndPythonCourse) the file *allForarexData.csv* is stored in directory *courseNotes*

In [ ]:
### define the path to where you stored the downloaded course materials and add directory 'courseNotes'
### depending on whether you work on a Mac, Unix or Windows system, the path looks different with either / or \
### \ need to be escaped => \\
datapath = 'C:\\Users\\kriemann\\python\\2025_informatica\\RAndPythonCourse\\courseNotes\\'
print(datapath)

In [ ]:
# 1. Read the data "allForarexData.csv"

# import package
import pandas as pd

# open the data as dataframe 
df = pd.read_csv(datapath+'allForarexData.csv')

# use head function to see the first 5 rows of the dataframe
df.head()

In [ ]:
# 2. Convert Exp0_OxygenTemp and Exp1_OxygenTemp. Devide by 1000. Save the result in the same column.
df['Exp0_OxygenTemp'] = df['Exp0_OxygenTemp']/1000.
df['Exp1_OxygenTemp'] = df['Exp1_OxygenTemp']/1000.

# use head function to see the first 5 rows of the dataframe
df.head()

In [ ]:
# 3. What are the means of Exp0_OxygenTemp and Exp1_OxygenTemp?
print(df['Exp0_OxygenTemp'].mean())
print(df['Exp1_OxygenTemp'].mean())

In [ ]:
# 4. Save the timestamp in the correct format. The time was measured in seconds. (origin="1970-01-01")
df['timeStamp'] = pd.to_datetime(df['timeStamp'], unit='s', origin=pd.Timestamp('1970-01-01'))
df.head()

In [ ]:
# 5. When was the first measurement? When was the last measurement?

# if you are unsure whether the data are chronologically sorted
df = df.sort_values(by=['timeStamp'], ascending=True)

df.head(1)

In [ ]:
df.tail(1)

In [ ]:
# 6. Create a subset containing only data measured after 2019-03-09 09:25:52.

df_subtime = df[df['timeStamp']>'2019-03-09 09:25:52']
df_subtime.head()

In [ ]:
# 7. Difficult: Exclude columns, where all measurements are the same. 
# hint: there is a function called nunique

constant_columns = [col for col in df.columns if df[col].nunique() == 1]

print("Constant columns:", constant_columns)

In [ ]:
df_sub = df.drop(constant_columns, axis=1)

df_sub.head()

# Exercises about both data frames and data types

In [ ]:
# Use beedata.csv

# open the data as dataframe 
df = pd.read_csv(datapath+'beedata.csv')

# use head function to see the first 5 rows of the dataframe
df.head()

In [ ]:
# 1. Select the lines of the bee data set where the hive number is 13 or 14.
filtered_df = df[(df['hive'] == 13) | (df['hive'] == 14)]
filtered_df.head()

In [ ]:
# 2. What are the classes of the beedata's columns hive and t_i_1?

# 3. Difficult: How can you print the classes of all columns?

# This is not at all difficult in python:
df.info()

# Exercises - Conditions, For and While

In [ ]:
# 1. Imagine somebody tells you the age of two of her friends,
# Ali and Bea. If Ali is older than Bea, print 
# "Ali is older than Bea.". If Bea is older than Ali,
# print "Bea is older than Ali.".

Ali = 5555/111
Bea = 10*5

if Ali > Bea:
    print("Ali is older than Bea.")
else:
    print("Bea is older than Ali.")

In [ ]:
# 2. The price of a small bar of chocolate is 1 Euro. 
# For a medium bar of chocolate you have to pay 3 Euros 
# and for a large bar you have to pay 5 Euros.
# Somebody tells you how much money she has. 
# Tell her, how much chocolate she can buy 
# (Eg. print "You can buy a small bar of chocolate.")
# She does not want to buy more than one bar of chocolate, 
# but the largest possible.

money = 14/3

if money >= 5:
    print("You can buy a large bar of chocolate.")
elif money >= 3:
    print("You can buy a medium bar of chocolate.")
elif money >= 1:
    print("You can buy a small bar of chocolate.")
else:
    print("Sorry, you can't buy any chocolate.")

In [ ]:
# 1. Loop from 1 to 15 and print the square-root of 
# each number

# you need the package numpy to compute square-roots
import numpy as np

for i in range(1,16):
    print(np.sqrt(i))

In [ ]:
# 2. The function "np.random.binomial(n=1, p=0.9, size=1)" models a very unfair
# coin, which shows the head (1) with a probability 
# of 90 %. Flip this coin until you get tail (0). 
# Count how many times you flipped the coin.

coin = 1
index = 0

while coin!=0:
    coin = np.random.binomial(n=1, p=0.9, size=1)
    index = index +1

print(index)

In [ ]:
# 3. Repeat each character of the string "Summer" 3 times.
# Combine all characters to a new string. 

s = "summer"
s1 = ""

for i in range(len(s)):
    for j in range(3):
        s1 += s[i]

print(s1)

In [ ]:
# 4. Difficult: Read in all files in the directory 
# "forarexData" and combine them to a single data frame.

# hint:  Useful functions: os.listdir, os.path.join(), pd.concat

# import os
# import pandas as pd

### first set the datapath correctly
print(datapath)

in [Github](https://github.com/TheDiren/RAndPythonCourse) the directory *forarexData/* is stored in directory *data*

In [ ]:
### adapt your datapath
datapath2 = 'C:\\Users\\kriemann\\python\\2025_informatica\\RAndPythonCourse\\data\\'
print(datapath2)

In [ ]:
dir = "forarexData\\"
files = os.listdir(datapath2+dir)
files = [os.path.join(datapath2+dir, f) for f in files]

df = pd.DataFrame()
for file in files:
    tmp = pd.read_csv(file)
    df = pd.concat([df, tmp], ignore_index=True)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.columns

In [ ]:
df.columns[0:50]

In [ ]:
df.columns[50:108]

In [ ]:
### alter the display options in this script only to see the complete dataframe
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
df

# Exercises: Functions

In [ ]:
# 1. In one of the previous tasks you wrote some code to
# Repeat each character of the string "Summer" 3 times.
# Convert it into a function. It should take two parameters:
# - a string, e.g. “summer”.
# - A number, e.g. 3 to specify how often each letter 
#   should be repeated.
# Use “summer” and 3 as default values.
# hint: in case you did not find the solution. This is the solution:

# Watch out this is a solution for another task!

s = "summer"
s1 = ""

for i in range(len(s)):
    for j in range(3):
        s1 += s[i]

print(s1)


def funny_words(word="summer", repeat_times=3):
    s1 = ""
    for i in range(len(word)):
        for j in range(repeat_times):
            s1 += word[i]
    return s1

In [ ]:
# call function
funny_words()

In [ ]:
# call function
funny_words('winter',6)

In [ ]:
# 2. We look at the data from the beehives again. 
# Given a beehive, how many observations do we have
# for that beehive? How many observations are missing
# in the column “weight_kg”? Write a function for this
# problem. Return both values in a named list.
# Use the dataframe and the hive number as input parameters.

# import pandas as pd

df = pd.read_csv(datapath+"beedata.csv")

def beehive_info(df, hive):
    sub = df[df['hive'] == hive]
    n = len(sub)
    missing = sub['weight_kg'].isna().sum()
    return {'n': n, 'missing': missing}

In [ ]:
# call function
beehive_info(df, 4)

In [ ]:
# call function
beehive_info(df, 13)

In [ ]:
# 3. In a previous exercise, you wrote some code to read
# in all files within a directory. 
# Convert the code to a function.

# import os
# import pandas as pd

def combine(dir=datapath2+"forarexData/", final_name="forarexCombined.csv"):
    # list all files in directory
    files = os.listdir(dir)
    files = [os.path.join(dir, f) for f in files]
    
    # crreate new and empty dataframe
    df = pd.DataFrame()
    for file in files:
        tmp = pd.read_csv(file)
        df = pd.concat([df, tmp], ignore_index=True)
    
    df.to_csv(final_name, index=False)

In [ ]:
# call function
combine()

# Plotting

In [ ]:
### convert time from ns to datetime format

In [ ]:
df.head(2)

In [ ]:
df['time'] = pd.to_datetime(df['time'], unit='ns', origin=pd.Timestamp('1970-01-01'))

In [ ]:
df.head(2)

In [ ]:
### without Matplotlib

# Subset data
df_4 = df[df['hive'] == 4]

# plot temperature outside
ax = df_4.plot(x='time', y='t_o', kind='scatter', marker='x')
ax.set_ylim(0, 40)

In [ ]:
### with Matplotlib
import matplotlib.pyplot as plt

# Subset data
df_4 = df[df['hive'] == 4]

# colors similar to rainbow(5) in R
colors = plt.cm.rainbow(np.linspace(0, 1, 5))

# select columns
cols = df_4.columns[3:8]

plt.figure(figsize=(10, 6))

# plot temperature outside
plt.scatter(df_4['time'], df_4['t_o'], color='black', marker='x', label='outside')

# plot all other temperatures
for i, col in enumerate(cols):
    plt.scatter(df_4['time'], df_4[col], color=colors[i], marker='x', label=str(i+1))

plt.ylim(0, 40)
plt.legend(loc='upper right', fontsize=8)
plt.xlabel('time')
plt.ylabel('Temperature')
plt.show()